//colors
$gray: grey;
$blue: blue;

$sc_green: lightgreen;
$sc_green_reg: rgba($sc_green, .6);
$sc_green_dim: rgba($sc_green, .3);
$sc_green_strong: rgba($sc_green, 1);

//$nsc_red: rgb(220,20,60);
$nsc_red: #ffd3dc;
//$nsc_red_reg: rgba($nsc_red, .5);
//$nsc_red_dim: rgba($nsc_red, .2);
//$nsc_red_strong: rgba($nsc_red, 1);

.click-link {
  background-color: $color_lightish_purple;
}


// not using anymore?
$color_granny_smith_apple_approx: lightgreen;
$color_regent_st_blue_approx: lightblue;
$color_quill_gray_approx:  lightgray;
$color_alto_approx: #ddd;
$color_mountain_mist_approx: #999;
$white: #fff;
$color_lochmara_30_approx: rgba(0,119,221,0.3);
$color_lochmara_10_approx: rgba(0,119,221,0.1);
$color_amethyst_approx: rgba(163, 53, 238,1);
$color_amethyst_30_approx: rgba(163, 53, 238,0.3);
$color_amethyst_10_approx: rgba(163, 53, 238,0.1);
$crimson_30: rgba(220,20,60,0.3);
$crimson_10: rgba(220,20,60,0.1);
$crimson_100: rgba(220,20,60,1);

$color_lightish_purple: rgba(200, 150, 255,1);

$black_30: rgba(0,0,0,0.3);
$black_10: rgba(0,0,0,0.1);
$color_claret_30_approx: rgba(120,20,60,0.3);
$color_claret_10_approx: rgba(120,20,60,0.1);
$color_lochmara_approx: rgba(0,119,221,1);
$color_claret_approx: rgba(120,20,60,1);
$alice_blue: aliceblue;
$steel_blue:  steelblue;
$mute_opacity: 0.3;
$color_green_30: rgba(20,255,50,.3);

@media (min-width: 450px) {
  .nav-bar {
    max-width: 450px;
  }
  .short-input {
    max-width: 250px;
  }
}
html, body, .height-100 {
  height: 100%;
}
.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
  //.flex-row { border: 1px dotted grey; }
  .flex-content-height {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }
  .flex-remaining-height {
    flex: 1 1 auto;
  }
  .flex-fixed-height-40 {
    flex: 0 1 40px;
  }
}
.main-content {
  margin: 10px;
}

/*
div.concept-browse {
  height: 100vh;
}
*/
.react-spinner {
	position: relative;
	width: 32px;
	height: 32px;
	top: 50%;
	left: 50%;
}

.react-spinner.hide {
  display: none;
}

.react-spinner_bar {
	animation: react-spinner_spin 1.2s linear infinite;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	background-color: $blue;
	position: absolute;
	width: 20%;
	height: 7.8%;
	top: -3.9%;
	left: -10%;
}
@keyframes react-spinner_spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.15;
	}
}
@-moz-keyframes react-spinner_spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.15;
	}
}
@-webkit-keyframes react-spinner_spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.15;
	}
}





.ag-row {
	border-bottom: 1px solid $color_quill_gray_approx;
}
.ag-row-odd {
}
.react-draggable {
	cursor: move;
	.handle {
		background: $color_alto_approx;
		border: 1px solid $color_mountain_mist_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		display: block;
		margin-bottom: 7px;
		padding: 3px 5px;
		text-align: center;
	}
}
.cursor {
	cursor: move;
}
.no-cursor {
	cursor: auto;
}
.cursor-y {
	cursor: ns-resize;
}
.cursor-x {
	cursor: ew-resize;
}

div.vocab-map, div.domain-map, div.concept-view-container {
  //float: right; 
  width: 100%;
  margin: 5;
  //border: 1px solid blue;
  position: relative;
  div.vocab-map-msg-div {
    float: right;
    z-index: 100;
  }
  svg.sigma-svg { //g.sigma-node, g.sigma-label 
    background-color: $color_green_30
    rect {
      fill: $color_green_30;
    }
    .sigma-fo-div {
      display: inline-block;
      border: 1px solid gray;
      padding: 4px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 8px;
      background-color: $white;
      div.info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 2px 0px 1px 0px;
        &.info-hover {
          border: 1px solid green;
        }
        span {
          &.key {
            margin-right: 4px;
            font-weight: bold;
            padding-left: 3px;
          }
          &.val {
            padding-right: 3px;
            text-align: right;
          }
        }
      }
    }
    span.icons > span.glyphicon {
      margin-left: 5px;
      position: static;
      display: none;
    }
    &.hover span.icons > span.glyphicon {
      display: inline;
    }
  }
  svg.sigma-svg {
/*
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $white;
*/

    g.sigma-edge {
      path {
        stroke: $steel_blue;
        &.muted {
          opacity: $mute_opacity;
        }
      }
    }

    g.sigma-node {
      g.voc-node-container {
        &.muted {
          opacity: $mute_opacity;
        }
        rect {
          fill: blue;
        }
        cursor: pointer;
        font-size: small;
        &.parent {
          font-size: large;
          background-color: $alice_blue;
          pointer-events: none;
          border: 1px solid $steel_blue;
        }
        foreignObject {
        }
      }
    }
    span.aside {
      font-weight: lighter;
      font-size: 90%;
      font-style: italic;
      padding-left: 10px;
    }
    .field.nest-level-1 {
      .form-group {
        padding-left: 20px;
      }
      legend {
        font-size: 16px;
      }
    }
  }
  .tblcol {
    background-color: $color_green_30;
    font-size: small;
    font-style: small-caps;
  }
}

.sc-standard-concept, .rc, .sc-S { // don't use all of these
  //background-color: $color_lochmara_30_approx;
	background-color: $sc_green_reg;
  .strong & {
    background-color: $sc_green_strong;
  }
}
.sc-classification-concept, .drc, .sc-C {
	//background-color: $color_regent_st_blue_approx;
  background-color: $color_lightish_purple;
}
.sc-non-standard-concept, .src, .sc-X {
  background-color: $nsc_red;
  .strong & {
    border: 2px solid red;
  }
}
.invalid-concept {
  background-color: $crimson_30;
}

.dsrc {
  background-color: $color_claret_30_approx;
}
.norecs {
  background-color: $black_10;
}

.concept-desc {
  padding: 18px;
  border: 1px solid gray;
  .header {
    border: 2px solid darkgray;
  }
  //margin: 3px;
/*
  .hover-button {
    margin-right: 3px;
  }
  .btn-group {
    margin-top: 3px;
  }
  .depth-1 {
    font-size: 10px;
  }
  .depth-2 {
    font-size: 8px;
  }
*/
}
.drillable-on-hover {
  &:hover {
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
  }
}
.infobit {
  word-break: break-word;
  border: 1px solid white;
  &.sc {
    font-weight: bold;
    padding: 8px;
  }
  .title {
    font-style: italic;
    text-align: right;
  }
  .value {
  }
}
.concept-info-menu {
  & > span {
    margin: 2px 3px 2px 3px;
  }
  .class {
    font-style: italic;
  }
/*
  .domain {
    &::before {
      content: "D";
      font-weight: bold;
      border: 2px solid lightblue;
    }
  }
*/
  .name {
    text-decoration: underline;
    font-weight: bold;
  }
  .code {
  }
  .vocab {
  }
}

div.junk {
  position: relative;
  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
  }

  .node rect {
    stroke: #333;
    fill: #fff;
  }

  .edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
  }

  .node text {
    pointer-events: none;
  }

  /* This styles the title of the tooltip */
  .tipsy .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
  }

  /* This styles the body of the tooltip */
  .tipsy .description {
    font-size: 1.2em;
  }


  body {
    width: 960px;
    margin: 0 auto;
    color: #333;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  }

  h1 {
    font-size: 3em;
    font-weight: 300;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 300;
  }

  section {
    margin-bottom: 3em;
  }

  section p {
    text-align: justify;
  }

  svg {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
  }

  pre {
    border: 1px solid #ccc;
  }
}
  .tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
    .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

    /* Rounded corners */
    .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
    
    /* Uncomment for shadow */
    /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
    
    .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
    
    /* Rules to colour arrows */
    .tipsy-arrow-n { border-bottom-color: #000; }
    .tipsy-arrow-s { border-top-color: #000; }
    .tipsy-arrow-e { border-left-color: #000; }
    .tipsy-arrow-w { border-right-color: #000; }
    
    .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
      .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
      .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
    .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
      .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
      .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
    .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }




