$icomoon-font-path: "fonts" !default;

$icon-funnel: "\e900";
$icon-filter2: "\e901";
$icon-zoom-out: "\e902";
$icon-zoom-in2: "\e903";
$icon-zoom_out: "\e904";
$icon-zoom_in: "\e905";
$icon-create_new_folder: "\e906";
$icon-flow-children: "\e907";
$icon-folder-delete: "\e908";
$icon-folder-add: "\e909";
$icon-link: "\e90a";
$icon-file-numbers: "\e90b";
$icon-folder-forbidden: "\e90c";
$icon-folder-cancel: "\e90d";
$icon-folder-locked: "\e90e";
$icon-folder-unlocked: "\e90f";
$icon-folder-information: "\e910";
$icon-folder-add2: "\e911";
$icon-folder-search: "\e912";
$icon-folder: "\e913";
$icon-inbox: "\e914";
$icon-basket2: "\e915";
$icon-cart2: "\e915";
$icon-checkout: "\e915";
$icon-ecommerce2: "\e915";
$icon-search: "\e916";
$icon-lookup: "\e916";
$icon-find: "\e916";
$icon-magnifier2: "\e916";
$icon-book-open: "\e917";
$icon-basket: "\e918";
$icon-shop: "\e918";
$icon-cart: "\e918";
$icon-ecommerce: "\e918";
$icon-buy: "\e918";
$icon-purchase: "\e918";
$icon-zoom-out2: "\e919";
$icon-magnifier: "\e919";
$icon-zoom-in3: "\e91a";
$icon-magnifier5: "\e91a";
$icon-enlarge2: "\e91a";
$icon-magnifier6: "\e91b";
$icon-search2: "\e91b";
$icon-lookup2: "\e91b";
$icon-find2: "\e91b";
$icon-link2: "\e91c";
$icon-anchor: "\e91c";
$icon-chain: "\e91c";
$icon-cabinet: "\e91d";
$icon-drawer: "\e91d";
$icon-storage: "\e91d";
$icon-filter: "\e91e";
$icon-briefcase: "\e91f";
$icon-zoom-out3: "\e920";
$icon-magnifier3: "\e920";
$icon-zoom-in: "\e921";
$icon-magnifier4: "\e921";
$icon-enlarge: "\e921";
$icon-search3: "\e922";
$icon-find3: "\e922";
$icon-lookup3: "\e922";
$icon-magnifier7: "\e922";
$icon-hyperlink: "\e923";
$icon-link4: "\e923";
$icon-chain3: "\e923";
$icon-hash: "\e924";
$icon-number: "\e924";
$icon-book-alt2: "\e925";
$icon-read: "\e925";
$icon-book: "\e926";
$icon-folder-open: "\e930";
$icon-drawer2: "\e95c";
$icon-database: "\e964";
$icon-search4: "\e986";
$icon-zoom-in4: "\e987";
$icon-zoom-out4: "\e988";
$icon-list-numbered: "\e9b9";
$icon-link5: "\e9cb";
$icon-filter3: "\ea5b";
$icon-shopping-basket: "\e927";
$icon-balance-scale: "\e928";
$icon-address-card-o: "\e929";
$icon-suitcase: "\e92a";
$icon-chain2: "\e92b";
$icon-link3: "\e92b";

