# See http://help.github.com/ignore-files/ for more about ignoring files.
junk
old
.env

VOCAB/vocab_data_files
VOCAB

# src/**/*.css  -- don't want to screw up users who won't compile css themselves

.sass-cache

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
npm-debug.log

OLD
