svg {
    background-color: grey;
}
.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: blue;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

.standard-concept {
  background-color: lightgreen;
}
.classification-concept {
  background-color: lightblue;
}
.ag-row {
  border-bottom: 1px solid lightgray;
}
.ag-row-odd {
}
span.aside {
  font-weight: lighter;
  font-size: 90%;
  font-style: italic;
  padding-left: 10px;
}
.field.nest-level-1 .form-group {
  padding-left: 20px;
}
.field.nest-level-1 legend {
  font-size: 16px;
  /* font-weight: lighter; */
}

.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable .handle {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 7px;
  padding: 3px 5px;
  text-align: center;
}
/*
.vocab-app .sidebar {
  z-index: 25;
}
.vocab-app .main-content {
  z-index: 1;
}
*/
.box {
  z-index: 100;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 10px;
  padding: 4px;
  position: absolute;
  width: 300px;
}
.handle {

}
